<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/main/main">Boot+JPA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/main/main">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">레시피
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/recipe/find">레시피 검색</a></li>
          <li><a href="/recipe/chef_list">쉐프</a></li>
        </ul>
      </li>
      <li><a href="/databoard/list">자료실</a></li>
      <li><a href="#">실시간 채팅(Pinia)</a></li>
    </ul>
  </div>
</nav>
</body>
</html>