<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 900px;
}
h3 {
	text-align: center;
}
</style>
</head>
<body>
	 <div class="container">
    <h3 class="text-center">등록</h3>
    <div class="row">
      <form method="post" action="/databoard/insert_ok"
      	enctype="multipart/form-data"
      >
       <table class="table">
         <tr>
           <th class="text-right" width=10%>이름</th>
           <td width=90%>
            <input type=text name=name size=20 class="input-sm"
             required>
           </td>
         </tr>
         <tr>
           <th class="text-right" width=10%>제목</th>
           <td width=90%>
            <input type=text name=subject size=60 class="input-sm"
             required>
           </td>
         </tr>
         <tr>
           <th class="text-right" width=10%>내용</th>
           <td width=90%>
            <textarea rows="10" cols="60" name=content required></textarea>
           </td>
         </tr>
         <tr>
         	<th class="text-right" width=10%>첨부파일</th>
         	<td width="90%">
         		<input type="file" name="files" size="20" class="inpust-sm" multiple> 
         	</td>
         </tr>
         <tr>
           <th class="text-right" width=10%>비밀번호</th>
           <td width=90%>
            <input type="password" name=pwd class="input-sm"
             required>
           </td>
         </tr>
         <tr>
           <td colspan="2" class="text-center">
             <button class="btn-sm btn-warning" type="submit">글쓰기</button>
             <button type="button" class="btn-sm btn-warning"
               onclick="javascript:history.back()"
             >취소</button>
           </td>
         </tr>
       </table>  
       </form>  
    </div>
  </div>
</body>
</html>