<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.row {
	margin: 0px auto;
	width: 900px;
}
h3 {
	text-align: center;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3>ThymeLeaf를 이용한 자료실</h3>
			<table class="table">
				<tr>
					<td>
						<a href="/databoard/insert" class="btn btn-sm btn-success">등록</a>
					</td>
				</tr>
			</table>
			<table class="table">
				<tr class="success">
					<th width="10%" class="text-center">번호</th>
					<th width="45%" class="text-center">제목</th>
					<th width="15%" class="text-center">이름</th>
					<th width="20%" class="text-center">작성일</th>
					<th width="10%" class="text-center">조회수</th>
				</tr>
				<tr th:each="vo:${list}">
					<td width="10%" class="text-center">[[${vo.no}]]</td>
					<td width="45%">[[${vo.subject}]]</td>
					<td width="15%" class="text-center">[[${vo.name}]]</td>
					<td width="20%" class="text-center">[[${vo.dbday}]]</td>
					<td width="10%" class="text-center">[[${vo.hit}]]</td>
				</tr>
				<tr>
					<td colspan="5" class="text-center">
						<a href="#" class="btn btn-sm btn-warnning">이전</a>
							<span>[[${curpage}]]</span> page /
							<span>[[${totalpage}]]</span> pages
						<a href="#" class="btn btn-sm btn-warnning">다음</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>