<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container {
	margin-top: 50px;
}
.row {
	margin: 0px auto;
	width: 500px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3 class="text-center">단일 업로드</h3>
			<form method="post" action="/upload_ok"
				enctype="multipart/form-data"
			>
				<input type="file" name="file" size="20" style="float: left">
				<button type="submit" class="btn-sm btn-danger" style="float: left">업로드</button>
			</form>
		</div>
		<div class="row" style="margin-top: 10px">
			<h3 class="text-center">멀티 업로드</h3>
			<form method="post" action="/multi-upload"
				enctype="multipart/form-data"
			>
			 <input type="file" name="files" size="20" style="float: left"
			 	multiple
			 >
			 <button type="submit" class="btn-sm btn-danger" style="float: left">업로드</button>
			</form>
		</div>
	</div>
</body>
</html>